In [55]:
import numpy as np
import pandas as pd

In [56]:
df=pd.read_excel(r'C:\Users\shailvi\Documents\Food.xlsx')
df

,Values,Names,City,Cost,Color,Taste,Cuisines,Rating
0,1,Paneer,Jaipur,90,White,Sweet,Indian,4.4
1,2,Pizza,Banglore,80,Yellow,Yummy,Japanese,4.0
2,3,Burger,Delhi,50,Brown,Crispy,Italian,5.0
3,4,Dosa,Jaipur,70,White,Crispy,South Indian,3.0
4,5,Sandwich,Patna,30,White,Crunchy,Indian,4.7
5,6,Idli,Mumbai,70,White,Yummy,South Indian,5.0
6,7,Ice Cream,Jaipur,45,Pink,Creamy,Thai,4.4
7,8,chowmein,Jaipur,110,Brown,Spicy,Chinese,4.7
8,9,Chicken,Jaipur,220,Brown,Spicy,Indian,5.0
9,10,Fish,Mumbai,250,Greyish Yellow,Spicy,Indian,5.0
10,11,Egg Roll,Jaipur,30,White,Yummy,Indian,3.6
11,12,Sweets,Kolkata,55,Yellow,Sweet,Indian,4.0
12,13,Chole Bathore,Jaipur,120,Yellow,Spicy,Indian,4.5

In [57]:
#Counts of different tastes for foods

df['Taste'].value_counts()

Spicy      4
Yummy      3
Crispy     2
Sweet      2
Creamy     1
Crunchy    1
Name: Taste, dtype: int64

In [58]:
df.describe()

         Values        Cost     Rating
count  13.00000   13.000000  13.000000
mean    7.00000   93.846154   4.407692
std     3.89444   68.652320   0.615713
min     1.00000   30.000000   3.000000
25%     4.00000   50.000000   4.000000
50%     7.00000   70.000000   4.500000
75%    10.00000  110.000000   5.000000
max    13.00000  250.000000   5.000000

In [ ]:
# Food availability in jaipur and taste is spicy

In [60]:
df[(df['City']=='Jaipur') & (df['Taste']=='Spicy')]

    Values          Names    City  Cost   Color  Taste Cuisines  Rating
7        8       chowmein  Jaipur   110   Brown  Spicy  Chinese     4.7
8        9        Chicken  Jaipur   220   Brown  Spicy   Indian     5.0
12      13  Chole Bathore  Jaipur   120  Yellow  Spicy   Indian     4.5

In [63]:
#Maximum

df['Color'].max()

'Yellow'

In [64]:
#White food found in Jaipur

df[(df['City']=='Jaipur') & (df['Color']=='White')]

    Values     Names    City  Cost  Color   Taste      Cuisines  Rating
0        1    Paneer  Jaipur    90  White   Sweet        Indian     4.4
3        4      Dosa  Jaipur    70  White  Crispy  South Indian     3.0
10      11  Egg Roll  Jaipur    30  White   Yummy        Indian     3.6

In [66]:
#Food which is available in Mumbai and is spicy
df['Names'][(df['City']=='Mumbai')&(df['Taste']=='Spicy')]

9    Fish
Name: Names, dtype: object

In [73]:
#Which cuisine most popular
mp=df['Rating'].max()
mp

5.0

In [74]:
df.loc[df['Rating']==mp,'Cuisines']

2         Italian
5    South Indian
8          Indian
9          Indian
Name: Cuisines, dtype: object

In [67]:
#Costliest Food
cf=df['Cost'].max() 
cf

250

In [52]:
df.loc[df['Cost']==cf,'Names']

9    Fish
Name: Names, dtype: object